.w-260px{width:260px !important;}
#editor{margin-bottom: 50px;}
#uiListFooter .pager > li > a {line-height: 23px; border: none; padding: 2px; border-radius: 4px; font-size: 14px; margin: 0px 0px 0px -1px;}
a {color: #2272eb;}
button.btn-mini.only-icon{padding:0px;}
.field-control .checkbox-list, .field-control .radio-list {margin-top: 4px}
