.main .panel-heading{background-color:#fff;}
.main .table{background-color:#fff;}
.main .legend{background-color:#fff; height: 28px; padding: 6px;}
.legend .attend-trip, .legend .attend-egress{display:none;}
.panel-heading.text-center {font-size: 16px;}
