.checkbox-primary > label {margin: 0;}
.wrapper {line-break: anywhere;}
.vtop {vertical-align: top!important;}
.table-form td + td, .table-form th + th {padding: 5px;}
.page-content .nav li {min-width: 82px; text-align: center;}
.tab-content {background-color: #fff;}
.tab-content .tab-pane {border: 1px solid #dddddd; border-top: none; padding: 40px 0;}
td div label {line-height:18px;}
#conference-admin-form {display: flex; align-items: flex-start;}
#table-form {flex-shrink: 3;}
#setupTip {flex-shrink: 2; padding: 0 10px; margin: 0 30px;}
#setupTip>h3:first-child {margin-top: 0;}
#detachedConferenceLabel {display: block} /* detachedConferenceLabel 名字改，括号换行 */
#detachedConferenceBriefModal .modal-content {
    padding: 25px;
}
#detachedConferenceBriefModal .modal-content > h1 {
    width: fit-content;
    margin: 0 auto 40px;
    font-weight: normal;
}
#detachedConferenceBriefModal a {
    margin-top: 20px;
}
#detachedConferenceBriefModal .text-muted {
    color: #e4e4e7;
}
#detachedConferenceBriefModal li {
    margin-bottom: 3px;
}
.version-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}
.version-title {
    margin-bottom: 20px;
}
.version-title * {
    margin: 0 auto;
    width: fit-content;
    display: block;
}
.free-version {
    background-color: #e7f6ff;
    padding: 20px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
}
.enhance-version {
    color: white;
    background-color: #0c64eb;
    padding: 20px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
}
.list-style-marker li {
    padding-left: 5px;
}
.list-style-marker li::marker {
    content: '✓';
}
.list-style-none li {
    padding-left: 5px;
}
.list-style-none li::marker {
    content: '';
}

