.dateWidth{width:100px !important;}
.delayWidth{width:80px !important;}
.estWidth{width:80px !important;}
.taskConsumedWidth{width:110px !important;}
.taskTotalWidth{width:80px !important;}
.projectConsumedWidth{width:120px !important;}
.userConsumedWidth{width:110px !important;}
