.newMarket {width: 120px;}
#marketBox > .input-group {table-layout: fixed;}

.title-group.required:after {display: none;}
.title-group.required > .required:after {display: block; right: 29px; top: 5px;}
