#main > .container > #menuActions { float: right !important; margin-top: -15px !important; margin-bottom: 8px; }
.input-group-required > .required::after, .required-wrapper.required::after {top:12px !important;}
.modal-body .table {margin-bottom:0px !important;}
