.bootbox.modal .modal-header{border-bottom: none; padding-bottom: 0;}
.bootbox.modal .modal-body{padding-top: 10px; text-align: center;}
.bootbox.modal .modal-footer{border-top: none; padding-top: 0; padding-bottom: 30px;}
