.userWidth{width:70px !important;}
.dateWidth{width:75px !important;}
.delayWidth{width:60px !important;}
.estWidth{width:60px !important;}
.taskConsumedWidth{width:85px !important;}
.taskTotalWidth{width:60px !important;}
.projectConsumedWidth{width:80px !important;}
.userConsumedWidth{width:80px !important;}
