.c-id {width: 50px;}
.c-reason {width: 210px;}
td[id^="duplicateFeedbackBox"].required:after {top: 6px; right: 2px;}
td[id^="duplicateFeedbackBox"] {overflow: visible;}
td.reasons-td {overflow: visible;}
