#dataform .priBox {width: 120px;}
#dataform .categoryBox {width: 150px;}
#dataform .icon-help{position: relative; top: -1px;}
.input-control.required:after {display: block; right: 29px; top: 5px;}
.needNotReviewBox {width: 130px;}
.needNotReviewBox span.input-group-addon {border: 1px solid #dcdcdc; border-left-width: 0px; width:130px;}
.input-control.required:after {display: block; right: 29px; top: 5px;}
#pri + .chosen-container > .chosen-single {border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}

.pri-selector > .btn {padding: 5px 8px !important; width: 100%;}
.pri-selector > .dropdown-menu {padding: 10px;}

td div.content {border: 1px solid #dcdcdc; padding: 5px; background: #f5f5f5; min-height: 32px}
