.priWidth{width:60px !important;}
.userWidth{width:80px !important;}
.dateWidth{width:110px !important;}
.delayWidth{width:80px !important;}
.estWidth{width:80px !important;}
.taskConsumedWidth{width:110px !important;}
.taskTotalWidth{width:80px !important;}
.projectConsumedWidth{width:120px !important;}
.userConsumedWidth{width:110px !important;}
