.cpp .comment-row, .cpp #bugForm {font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,'PingFang SC','Source Han Sans CN','Source Han Sans','Source Han Serif','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif;}
.comment-cell .panel-heading {padding: 8px 16px 7px 20px;}
.comment-row {font-size: 13px;}
.repoCode tr.commented .comment-btn .icon-wrapper {color: #EA644A; min-width: 38px; text-align: left;}
.repoCode tr.commented .comment-btn .icon-wrapper .bug-num {margin-left: 2px; margin-bottom: 3px;}
.repoCode tr.over.commented .comment-btn .icon-wrapper, .repoCode tr.over .icon-wrapper, .repoCode tr.selected.commented .comment-btn .icon-wrapper {line-height: 20px; height: 20px; background: none; color: #4183c4; left: 0px; width: 25px; text-align: right;}
.repoCode tr.over.commented .comment-btn .icon-wrapper:before, .repoCode tr.over .icon-wrapper:before, .repoCode tr.selected.commented .comment-btn .icon-wrapper:before {display: none;}
.repoCode tr.over.commented .comment-btn, .repoCode tr.over .comment-btn{margin-left: 0;}
.repoCode tr.over .comment-btn {float: left;}
.repoCode tr th {min-width: 45px;}
.repoCode tr.commented th {min-width: 60px;}
.comment-btn .icon-wrapper {position: unset;}
.repoCode tr .icon-wrapper {color: #EA644A; min-width: 25px; text-align: right;}
.repoCode table > tbody > tr.over > th {line-height: 20px;}
