.btn-group a i.icon-plus {font-size: 16px;}
.btn-group a.btn-primary {border-right: 1px solid rgba(255,255,255,0.2);}
.btn-group button.dropdown-toggle.btn-primary {padding:6px; height:32px;}
.main-table tbody>tr>td {white-space: nowrap; overflow: hidden;}
